@* @model IEnumerable<MyModel_DBFirst.Models.tStudent> *@
@model MyModel_DBFirst.ViewModels.VMtStudent


@{
    ViewData["Title"] = "IndexViewModel";
}

<h1>IndexViewModel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    <div class="col-3">
        科系
        <ul>
        @foreach(var item in Model.Departments)
        {
           
				<li>
			
                    <a asp-action="IndexViewModel" asp-route-id="@item.DeptID">@item.DeptName</a>
				</li>
          
        }
        </ul>

    </div>
    <div class="col-9">
        學生資料
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fStuId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fScore)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fStuId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fScore)
                        </td>
                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.fStuId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.fStuId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.fStuId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>







