@model DBFirst.Models.tStudent

@{
    ViewData["Title"] = "學生資料新增";
}

<h1 style="color:violet;">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4 col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fStuId" class="control-label"></label>
                <input asp-for="fStuId" class="form-control" />
                <span asp-validation-for="fStuId" class="text-danger"></span>
                <span class="text-danger">@ViewData["ErrorMessage"]</span>
            </div>
            <div class="form-group">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            @*   //5.5.4 修改 Create View *@
            <div class="form-group">
                <label asp-for="DeptID" class="control-label"></label>

                @* 原先系統產生的寫法(還沒有關聯上Department)
                <input asp-for="DeptID" class="form-control" /> *@

                @* 1. 一般會想到的寫法
                <select>
					<option value="">請選擇系所</option>
					@foreach (var item in ViewBag.DeptID)
					{
						<option value="@item.Value">@item.Text</option>
					}
                </select> *@

                @* 2. 使用ASP.NET Core的Tag Helper來產生下拉選單 *@
                <select asp-for="DeptID" class="form-control" asp-items="@ViewBag.Dept"></select>
                @* ViewBag =>一個動態型別(需要耗一點資源去維護)。透過一個袋子，把ViewData的物件取出來。 *@

                <span asp-validation-for="DeptID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fEmail" class="control-label"></label>
                <input asp-for="fEmail" class="form-control" />
                <span asp-validation-for="fEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fScore" class="control-label"></label>
                <input asp-for="fScore" class="form-control" />
                <span asp-validation-for="fScore" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="確定新增" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到學生資料列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} @* 把驗證JS放這 *@
}
