@model HotelSystem.Models.Room

@{
	ViewData["Title"] = "Details";
}


<nav>
	<div class="nav nav-tabs  nav-fill" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">商品詳情</button>
		<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">規格描述</button>
		<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">商品評價</button>
		<button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">購物須知</button>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
		<h1 class="fw-bold py-3">@Html.DisplayFor(model => model.RoomName) <button class="btn btn-outline-danger btn-lg" onclick="addMyPocket('@Model.RoomID','@Model.RoomName','@Model.Area',@Model.Floor)"><i class="bi bi-heart-fill"></i> 加入我的口袋</button></h1>

		<div class="card h-100">
			@*  <img src="~/RoomPhotos/@item.RoomID/1.jpg" class="card-img-top" alt="..."> *@
			<div id="carouselRoomPhoto-@Model.RoomID" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					@{
						bool isFirst = true;
						foreach (var photo in ViewBag.RoomPhotos)
						{

							if (photo.RoomID == Model.RoomID)
							{
								<div class="carousel-item @(isFirst ? "active" : "")" data-bs-interval="5000">
									<img src="~/RoomPhotos/@photo.PhotoPath" class="d-block w-100" alt="...">
								</div>
								isFirst = false;
							}
						}
					}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomPhoto-@Model.RoomID" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselRoomPhoto-@Model.RoomID" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class="card-body row">
				<div class="col-xl-8 col-md-6">
					<h3 class="card-text">@Html.DisplayFor(modelItem => Model.Introduction)</h3>
					<div class="text-decoration-line-through text-secondary">原價:@String.Format("{0:C0}", Model.Price * (decimal)1.5)</div>
					<h1 class="fw-bold text-danger">@Html.DisplayFor(modelItem => Model.Price)</h1>
				</div>

				<form id="myForm" class="col-xl-4 col-md-6">
					@await Html.PartialAsync("_DatePickerPartial")
					<input type="hidden" name="id" value="@Model.RoomID" />
					<div class="text-center mt-5">
						<button type="button" class="btn btn-outline-dark btn-lg" onclick="addCart('@Model.RoomID','@Model.RoomName','@Model.Area',@Model.Floor,@Model.Price)"><i class="bi bi-cart4"></i> 加入購物車</button>
					</div>
				</form>

			</div>
		</div>


	</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
		aaa
	</div>
	<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
		bbb
	</div>
	<div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
		ccc
	</div>

</div>

@await Html.PartialAsync("_MyPocketToastPartial")

<hr />
<div>
	<a asp-action="Index" asp-controller="Rooms" asp-route-checkIn="@ViewData["CheckIn"]" asp-route-checkOut="@ViewData["CheckOut"]">回房型列表</a>
</div>
@section css {
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
}

@section Scripts {
	<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
	<script src="~/js/MemberJS.js"></script>
	<script src="~/js/mydatepicker.js"></script>

	<script>
		function addCart(roomID, roomName, area, floor, price){
			//event.preventDefault();

			//先判斷有沒有選住宿日期區間,有才加入購物車
			if($('#checkinDate').val()=="" ||  $('#checkOutDate').val()==""){
				//alert("請選擇入住及退房日期!!")
				$('#addItemToast .toast-body').html(`請選擇【入住日期】及【退房日期】!! `);
				toastBootstrap.show();
				return;
			}
			else{
				//加入購物車
				//但在加入購物車前前,得先判斷該日期區間有沒有人訂此房型
				//必須由後端去取得資料庫的資料做比對
				//用Ajax對一般的action 提出Request,目的為不讓網頁重新整理

				$.ajax({
					url:`@Url.Action("IsRoomAvailable")`,
					data:$('#myForm').serialize(),
					success:function(resp){
						if(resp){
							//執行把房型加入購物車
							//alert("已加入購物車!!");
							addMyCart(roomID, roomName, area, floor, price, $('#checkinDate').val(), $('#checkoutDate').val());
						}
						else{
							//alert("該日期區間已無此房型,請重新選擇!!")
							$('#addItemToast .toast-body').html(`該日期區間已無此房型,請重新選擇!! `);
							toastBootstrap.show();
							return;
						}
					}
				});

			}
		}


		
	</script>



	}