@model IEnumerable<HotelSystem.Models.Room>

@{
	ViewData["Title"] = "選擇您要的房型";


}

<h2>
	@ViewData["Title"] <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-search"></i> 搜尋房型</button>
</h2>

<div class="offcanvas offcanvas-start shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasScrollingLabel">房型條件</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body ">
		<div class="border border-1 border-secondary rounded p-3">
			<h4 class="fw-bold">入住人數</h4>
			@foreach (var num in ViewBag.PeopleNum)
			{
				<input type="checkbox" class="btn-check peopleNum" id="btn-check-@num" autocomplete="off" value="@num">
				<label class="btn" for="btn-check-@num">@(num)人房</label>


			}

			<input type="checkbox" class="btn-check peopleNum" checked id="btn-check-all" autocomplete="off" value="all">
			<label class="btn" for="btn-check-all">全部</label>
		</div>
	</div>
</div>


<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-xl-4 col-md-6 mb-3 rooms">

			<div class="card h-100 border-1 shadow">
				<a asp-action="Details" asp-route-id="@item.RoomID" class="text-decoration-none text-dark">
					<div id="carouselRoomPhoto-@item.RoomID" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							@{
								bool isFirst = true;
								foreach (var photo in ViewBag.RoomPhotos)
								{
									if (photo.RoomID == item.RoomID)
									{
										<div class="carousel-item @(isFirst ? "active" : "")" data-bs-interval="5000">
											<img src="~/RoomPhotos/@photo.PhotoPath" class="d-block w-100" alt="...">
										</div>
										isFirst = false;
									}
								}
							}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomPhoto-@item.RoomID" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselRoomPhoto-@item.RoomID" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<div class="card-body">
						<h2 class="card-title fw-bold">@Html.DisplayFor(modelItem => item.RoomName)</h2>
						<p class="card-text">@Html.DisplayFor(modelItem => item.Introduction)</p>
						<div class="text-end text-decoration-line-through text-secondary">原價:@String.Format("{0:C0}", item.Price * (decimal)1.5)</div>
						<h2 class="fw-bold text-end text-danger">@Html.DisplayFor(modelItem => item.Price)</h2>
						<span class="peopleNum d-none">@item.PeopleNum</span>
					</div>
				</a>
				<div class="card-footer p-0">
					<div class="d-grid gap-2">
						<div class="btn-group">
							<button class="btn btn-outline-success btn-lg fw-bold"><i class="bi bi-cart4"></i> 我要訂房</button>
							<button class="btn btn-outline-danger btn-lg fw-bold" onclick="addMyPocket('@item.RoomID','@item.RoomName','@item.Area',@item.Floor)"><i class="bi bi-heart-fill"></i> 放入口袋</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	}
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
	<div class="toast align-items-center text-bg-danger border-0" id="addItemToast" data-bs-delay="2000">
		<div class="d-flex">
			<div class="toast-body fs-6">
				已加入口袋
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<script>

		//////加入我的旅行口袋////////////////
		const addItemToast=document.getElementById('addItemToast');
		const toastBootstrap=bootstrap.Toast.getOrCreateInstance(addItemToast);


		//localStorage存放的是JSON格式, 但JS所用的是Array

		let arrMyPocket=[];

		if(localStorage.getItem("myPocket"))
			arrMyPocket = JSON.parse(localStorage.getItem("myPocket"));


		//localStorage.setItem("myPocket");

		function addMyPocket(roomID,roomName,area,floor){

			let result = arrMyPocket.find(item=>item.RID==roomID);  //如果沒找到,會回傳undefined

			if(result==undefined)
			{
				$('#addItemToast .toast-body').html(`【${roomName}】已加入我的旅行口袋 <i class="bi bi-heart-fill"></i>`);
			

				//將房間加入localStorage

				let newItem={
					RID:roomID,
					RName:roomName,
					Area:area,
					Floor:floor
				}
				arrMyPocket.push(newItem);

				localStorage.setItem("myPocket", JSON.stringify(arrMyPocket));
			}
			else{
				$('#addItemToast .toast-body').html(`【${roomName}】已在旅行口袋中 <i class="bi bi-heart-fill"></i>`);
				
			}
			toastBootstrap.show();
		}


		//////////////////////////////////////////////////////////
		let peopleNumArr = [];

		$('.peopleNum').on('change', function () {
			if ($(this).val() === 'all') {
				if ($(this).is(':checked')) {
					// 取消其他選項勾選
					$('.peopleNum').not(this).prop('checked', false);
					peopleNumArr = [];
					showAllRooms();
				} else {
					// 若取消勾選「全部」，則不顯示任何房型
					$('.rooms').hide(300);
				}
			} else {
				// 取消「全部」的勾選
				$('#btn-check-all').prop('checked', false);

				if ($(this).is(':checked')) {
					peopleNumArr.push($(this).val());
				} else {
					peopleNumArr = peopleNumArr.filter(item => item !== $(this).val());
				}
				showRoomItem();
			}
		});

		function showRoomItem() {
			$('.card .peopleNum').each(function () {
				if (peopleNumArr.find(item => item == $(this).text())) {
					$(this).closest('.rooms').show(300);
				} else {
					$(this).closest('.rooms').hide(300);
				}
			});
		}

		function showAllRooms() {
			$('.rooms').show(300);
		}


	</script>


	}