@model IEnumerable<NorthWindStore.Models.Categories>

@{
    ViewData["Title"] = "商品種類列表";
}

<h1 style="background-color:burlywood">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-warning">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Picture) *@
                <img src="@Url.Action("GetPicture", "Categories", new { id = item.CategoryID })" style="max-width:150px;max-height:150px;" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-warning btn-sm">編輯</a>
            </td>
        </tr>
}
    </tbody>
</table>
