@model MyView.Models.NightMarket

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>NightMarket</h4>
    <hr />
    @* <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl> *@

    <div class="row">
        <div class="col-md-6">
            <img src="/images/@(Model.Id).jpg" class="img-thumbnail" />
        </div>
        <div class="col-md-6">
            <h1 class="fw-bold">@Model.Name</h1>
			<h3 class="text-dark">@Model.Address</h3>
			<p class="">
				<a href="https://www.google.com.tw/maps/search/@(Model.Address)" target="_blank" class="btn btn-danger">地圖</a>
			</p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
